html {
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    margin: 0;
    background-color: #1e1e1e;
    overflow: hidden;
}

.header { 
    pointer-events: none;
    padding: 0px;
    color: white;
    text-align: center;
}
.header h1 {
    pointer-events: none;
    margin: 0px;
    font-size: 128px;
    font-weight: 100;
}

.header p {
    margin: 0px;
    font-size: 64px;
}

.highlight {
    color: gold;
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin: 16px;
}



a, a:active, a:focus {
    outline: none;
}

a:hover {
    text-decoration: underline;
}



.navbar>.current {
    text-decoration: underline;
}


.physicsCanvas {
    position: fixed;
    z-index: -1;
    pointer-events: auto;
}

@media (min-resolution: 200dpi) {
    .header h1 {
        font-size: 150px;
    }
    
    .header p {
        font-size: 80px;
    }
    .navbar a {
        font-size: 64px;
        margin: 16px;
    }
}

